@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
  color: white;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  background-color: #1c1c1c;
  height: 100vh;
}

/*
a[href] {
  color: #000;
}
*/
.container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  margin-top: 50px;

  .dot {
    color: #10b981;
    font-size: 3rem;
  }

  .container {
    display: flex;
    align-items: center;
  }

  .logo {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    text-decoration: none;
  }

  .nav-links {
    display: flex;
    margin-left: auto;
    list-style: none;

    .nav-item {
      position: relative;
      display: inline-block;
      margin-left: 20px;
      margin-right: 20px;
      text-decoration: none;
      transition: opacity 0.3s;

      &.active {
        font-weight: 700;
        &:after {
          content: '';
          position: absolute;
          bottom: -10px;
          left: 0;
          width: 25px;
          height: 2px;
          background-color: #10b981;
        }
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.hero {
  padding-top: 100px;

  .container {
    display: flex;
    align-items: center;
  }

  .text-wrapper {
    width: 50%;

    &.w-full {
      width: 100%;
    }

    .bubble-spc,
    .big-bubble-spc {
      width: fit-content;
      border-radius: 100%;
      border: 5px solid #10b981;
      padding: 2.5em;
      text-align: center;
      position: relative;
      left: 200px;
      bottom: 100px;
    }

    .big-bubble-spc {
      padding: 1.5em;
      left: 10px;
      bottom: 150px;
    }
    .small-bubble-spc,
    .smaller-bubble-spc {
      width: 10px;
      padding: 0.8em;
      border-radius: 100%;
      border: 5px solid #10b981;
      left: 450px;
      bottom: 90px;
      position: relative;
    }

    .smaller-bubble-spc {
      width: 5px;
      left: 550px;
      padding: 0.5em;
    }

    .small-bubble-spc,
    .smaller-bubble-spc,
    .bubble-spc,
    .big-bubble-spc {
      opacity: 0;
      animation-name: bubble;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
    }

    .smaller-bubble-spc {
      animation-delay: 0.5s;
      animation-duration: 2.5s;
    }

    .small-bubble-spc {
      animation-delay: 0.75s;
      animation-duration: 2.8s;
    }

    .bubble-spc,
    .big-bubble-spc {
      animation-delay: 1.2s;
      animation-duration: 3s;
    }

    .big-bubble-spc {
      animation-delay: 2s;
    }

    .small-bubble-spc.second {
      left: 520px;
      bottom: 250px;
      animation-delay: 1.7s;
    }

    .smaller-bubble-spc.second {
      left: 600px;
      bottom: 265px;
      animation-delay: 1.4s;
    }

    .title,
    .title-side {
      font-size: 2rem;
      margin-top: 0;
      margin-bottom: 10px;
    }

    .title-side {
      color: #10b981;
    }

    .description {
      font-size: 22px;
      line-height: 40px;
      font-weight: 600;
    }

    .cta {
      position: relative;
      bottom: 75px;
      display: inline-block;
      padding: 15px 45px;
      background-color: #000;
      color: #1c1c1c;
      text-decoration: none;
      border-radius: 15px;
      transition: transform 0.3s;
      background-color: #6ee7b7;
      font-weight: 700;
      font-size: 1.4rem;
      letter-spacing: 1px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .image-wrapper {
    width: 50%;
    text-align: right;
  }
}

.portfolio-wrapper {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;

  .portfolio-item {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

    .portfolio-image {
      max-width: 100%;
    }

    .portfolio-name {
      font-size: 24px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-transform: capitalize;
    }

    .portfolio-category {
      color: #999;
    }
  }
}

.contact-links {
  padding: 0;
  padding-left: 15px;
  margin-top: -10px;
  list-style: square;

  .contact-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@keyframes bubble {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}
